<div class="container">
  <h1>Users Show</h1>
  
  <% unless flash.notice.nil? %>
  <div class="alert alert-info" role="alert">
    <%= flash.notice %>
  </div>
  <% end %>
  
  <%= session[:user_id] %>
  <%= @user.username %>
  <%= @user.email %>
</div>