<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item 
                              <% if current_page?('/') %>
                                active" aria-current="page">
                                Home
                              <% else %>
                                "><%= link_to 'Home', '/' %>
                              <% end %>
    </li>
    <li class="breadcrumb-item 
                              <% if current_page?('/events/') %>
                                active" aria-current="page">
                                Events
                              <% else %>
                                "><%= link_to 'Events', events_path %>
                              <% end %>
    </li>
    <li class="breadcrumb-item 
                              <% if current_page?('/artists/') %>
                                active" aria-current="page">
                                Artists
                              <% else %>
                                "><%= link_to 'Artists', artists_path %>
                              <% end %>
    </li>
    <!-- <li class="breadcrumb-item 
                              <% if current_page?('/tickets') %>
                                active" aria-current="page">
                                Tickets
                              <% else %>
                                "><%= link_to 'Tickets', tickets_path %>
                              <% end %>
    </li> -->
  </ol>
</nav>