<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item 
                              <% if current_page?('/') %>
                                active" aria-current="page">
                                <p>Home</p>
                              <% else %>
                                "><%= link_to 'Home', '/' %>
                              <% end %>
    </li>
    <li class="breadcrumb-item 
                              <% if current_page?('/events/') %>
                                active" aria-current="page">
                                <p>Events</p>
                              <% else %>
                                "><%= link_to 'Events', events_path %>
                              <% end %>
    </li>
    <li class="breadcrumb-item 
                              <% if current_page?('/artists/') %>
                                active" aria-current="page">
                                <p>Artists</p>
                              <% else %>
                                "><%= link_to 'Artists', artists_path %>
                              <% end %>
    </li>
    <li class="breadcrumb-item 
                              <% if current_page?('/tickets') %>
                                active" aria-current="page">
                                <p>Tickets</p>
                              <% else %>
                                "><%= link_to 'Tickets', tickets_path %>
                              <% end %>
    </li>
  </ol>
</nav>