<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Saved Events</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul id="eventsList"></ul>
    <%= link_to 'Checkout', new_user_ticket_url(-1), id: 'checkout-btn', class: "#{session[:saved_events]&.empty? ? 'd-none' : ''} btn btn-primary w-100 m-0", role: 'button' %>
  </div>
</div>
