<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Saved Events</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul id="eventsList">
      <li>
        Brothers in Arms <span class="badge rounded-pill text-bg-primary">18 Jan 2022</span>
      </li>
    </ul>
  </div>
</div>