<%= render partial: 'carousel', locals: { headliners: @data[:headliners] } %>

<% @data[:headliners].each do |event| %>
  <li><%= event.name %></li>
<% end %>

<% @data[:upcoming].each do |event| %>
  <li><%= event.name %></li>
<% end %>