<%= render partial: 'carousel', locals: { headliners: @data[:headliners] } %>

<div class="container">
  <h2>Upcoming Concerts</h2>
  <%= render partial: 'shared/display_concerts', locals: { events: @data[:upcoming] } %>
  <%= link_to 'View all', events_path, class: 'btn btn-primary btn-lg mx-auto' %>
</div>