<div class="container">
  <h1>Login Page</h1>
  <% unless flash.alert.nil? %>
  <div class="alert alert-warning" role="alert">
    <%= flash.alert %>
  </div>
  <% end %>
  <% unless flash.notice.nil? %>
  <div class="alert alert-info" role="alert">
    <%= flash.notice %>
  </div>
  <% end %>

  <%= session[:user_id] %>

  <% if session[:user_id].nil? %>
    <div id="g_id_onload"
      data-client_id="448230211329-av45bn73jaatccunbrm0gl51m54viu5n.apps.googleusercontent.com"
      data-login_uri="http://localhost:3000/login"
      data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left">
    </div>
  <% end %>
</div>